<!-- Put this footer at the bottom, but INSIDE, of div class "main" -->
<style>
/* needed to make footer stay at bottom */
.mdl-layout__content {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column;
flex-direction: column;
}</style>

<div class="mdl-layout-spacer"></div>
<footer class="mdl-mini-footer" style="padding-top: 5px; padding-bottom: 5px; background-color:#b5bfc8;">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo" style="color:#0a2f4e">YConnect 2015</div>
        <ul class="mdl-mini-footer__link-list" style="color:#0a2f4e">
            <li><a href="http://lmgtfy.com/?q=help">Help</a></li>
            <li><a href="http://lmgtfy.com/?q=privacy">Privacy & Terms</a></li>
        </ul>
    </div>
</footer>